<h1> <div style="text-align: center"> Portfolio Technical Task - Python/Excel  </div>

<div class="alert alert-block alert-warning">
<b> <ins> The aim of this task: </ins> </b>
<span style="font-family:Comic Sans MS"> To demonstrate the ability to perform intermediate-level technical tasks with both Python and Excel. </span>
</div>

<div class="alert alert-block alert-info">
<b>For the solution via Excel:</b> Please refer to "Technical_Task_Python_Excel.xlsx" file.
</div>

# Table of Contents: <a class="anchor" id="main-bullet"></a>
* [1. Task Description](#first-bullet)
* [2. Setup Working Environment](#second-bullet)
* [3. Brief Data Overview](#third-bullet)
* [4. Completing the Task](#fourth-bullet)
* [5. Checking the Match and Exporting the xlsx file](#fifth-bullet)

***

<h1> <div style = "text-align: center"> <font color = "brown"> 1. Task Description </font> </div> <a class="anchor" id="first-bullet"></a>

- Previous colleague has made a report for management, but manager is not sure how the report was made and what were principles of selected data.

- What we know for sure that only data in sheet <b> "Data" </b> was used. The task is to replicate the result so You get the same exact result as in sheet <b> "To_Replicate" </b>. 
- Try to understand what data was selected and try to use as much of automatization as possible for final result, because we would like to refresh the source data and automatically update the Final result.

* [Return to the Table of Contents](#main-bullet)

***

<h1> <div style = "text-align: center"> <font color = "brown"> 2. Setup Working Environment </font> and Import data </div> <a class="anchor" id="second-bullet"></a>

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')
import os
from IPython.display import display as dsp\

from Overview_Func import overview
# overview - Custom-made function used to quickly generate an overview of the data.

<div class="alert alert-block alert-danger">
<b>Attention:</b> You might need to install some libraries, in case you don't have them yet.
</div>

In [2]:
class bcolors:
        BOLD = '\033[1m'
        ENDC = '\033[0m'

In [3]:
PATH = os.path.abspath(os.getcwd()) + "\\"

In [4]:
data_name = "Technical_Task_Python_Excel"

In [5]:
xls = pd.ExcelFile(PATH + data_name + '.xlsx')
df = pd.read_excel(xls, 'Data')
To_Replicate = pd.read_excel(xls, 'To_Replicate', skiprows=1)
To_Replicate.rename({"VENDOR" : "VENDOR_EE", "VENDOR.1" : "VENDOR_LV", "VENDOR.2" : "VENDOR_LT"}, axis = 1, 
                    inplace = True)

* [Return to the Table of Contents](#main-bullet)

***

<h1> <div style = "text-align: center"> 3. Brief Data <font color = "brown"> Overview </font> </div>  <a class="anchor" id="third-bullet"></a>

In [6]:
# We need to drop some empty columns
df = df[df.columns.drop(list(df.filter(regex='Unnamed:')))]

In [7]:
dsp(df.iloc[:, :8].head(3))
dsp(df.iloc[:, 8:].head(3))
print(df.columns, "|", bcolors.BOLD + "", len(df.columns), "columns in total.", 
      "| With", df.shape[0], "rows.")

,Material - Key,Monthly AVG sales,Material - Brand,Current ext vend,Country - Key,Promotion Net Sales/Retail,Net Sales/Retail,Material&Country
0,100376,2834.971667,Kapo,Waterfront Strategies,EE,3675.94,14673.82,100376EE
1,100376,2834.971667,Kapo,Waterfront Strategies,LT,1759.45,6591.51,100376LT
2,100376,2834.971667,Kapo,Waterfront Strategies,LV,1960.41,12754.33,100376LV

,Current int vend,PRIVATE LABEL,Purchase Price,Assortment Listing,HM Listing,SM Listing,MR Listing,EX Listing,HD Listing
0,Waterfront Strategies,NaN,1.310283,87.0,16.0,19.0,47.0,5.0,NaN
1,Waterfront Strategies,NaN,2.310271,55.0,35.0,14.0,5.0,1.0,NaN
2,Waterfront Strategies,NaN,1.298900,108.0,31.0,34.0,35.0,8.0,NaN

Index(['Material - Key', 'Monthly AVG sales', 'Material - Brand',
       'Current ext vend', 'Country - Key', 'Promotion Net Sales/Retail',
       'Net Sales/Retail', 'Material&Country', 'Current int vend',
       'PRIVATE LABEL', 'Purchase Price', 'Assortment Listing', 'HM Listing',
       'SM Listing', 'MR Listing', 'EX Listing', 'HD Listing'],
      dtype='object') |  17 columns in total. | With 516 rows.

In [8]:
overview(df)

-------------------------------------
MATERIAL - KEY (int64)

 Max: 7084447 Min: 100376
 Mean: 299016.81 Median: 166355.5 Std: 493111.6
 More than 2 Modes!
            - - - - - - -
 322 Unique values
 2 Unique value's length (in characters)
6    99.61
7     0.39
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 100.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
MONTHLY AVG SALES (float64)

 Max: 6935.745 Min: 0.37
 Mean: 892.08 Median: 445.71 Std: 1208.3
 More than 2 Modes!
            - - - - - - -
 320 Unique values
 8 Unique value's length (in characters)
15    51.74
7     11.82
5      9.88
6      9.88
8      7.95
4      5.04
3      3.10
2      0.58
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 100.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
MATERIAL - BRAND (object)

 Mode: Kiwi
            - - - - - - -
 53 Unique values
 12 Unique value's length (in characters)
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Contains special characters!
 Contains empty spaces!
 Only values with letters: 88.95 %
 Only values with numbers: 0.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
CURRENT EXT VEND (object)

 Mode: US Postal Service
            - - - - - - -
 32 Unique values
 19 Unique value's length (in characters)
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Contains special characters!
 Contains empty spaces!
 Only values with letters: 4.65 %
 Only values with numbers: 0.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
COUNTRY - KEY (object)

 Mode: LT
            - - - - - - -
 3 Unique values
LT    38.57
LV    33.91
EE    27.52
 1 Unique value's length (in characters)
2    100.0
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 100.0 %
 Only values with numbers: 0.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
PROMOTION NET SALES/RETAIL (float64)

 Max: 21627.98 Min: 0.08
 Mean: 1433.02 Median: 352.49 Std: 2813.73
 More than 2 Modes!
            - - - - - - -
 499 Unique values
 6 Unique value's length (in characters)
5    39.73
6    24.22
4    20.74
3    12.21
7     2.13
2     0.97
            - - - - - - -
 2.907 % of NaN values
 97.093 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 97.09 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
NET SALES/RETAIL (float64)

 Max: 74699.41 Min: 0.09
 Mean: 4785.69 Median: 1805.92 Std: 7762.1
 More than 2 Modes!
            - - - - - - -
 514 Unique values
 7 Unique value's length (in characters)
6     46.32
5     24.03
7     13.95
4      8.33
3      6.20
2      0.58
15     0.58
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 100.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
MATERIAL&COUNTRY (object)

 More than 2 Modes!
            - - - - - - -
 516 Unique values
 2 Unique value's length (in characters)
8    99.61
9     0.39
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 0.0 %
 Only values with letters and numbers: 100.0 %
-------------------------------------

-------------------------------------
CURRENT INT VEND (object)

 Mode: 0
            - - - - - - -
 25 Unique values
 17 Unique value's length (in characters)
            - - - - - - -
 53.682 % of Zero values
 46.318 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Contains special characters!
 Contains empty spaces!
 Only values with letters: 2.13 %
 Only values with numbers: 53.68 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
PRIVATE LABEL (object)

 Mode: PL
            - - - - - - -
 1 Unique values
PL    100.0
 2 Unique value's length (in characters)
3    81.4
2    18.6
            - - - - - - -
 81.395 % of NaN values
 18.605 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 18.6 %
 Only values with numbers: 0.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
PURCHASE PRICE (float64)

 Max: 13.1 Min: 1.0
 Mean: 2.08 Median: 2.09 Std: 1.17
 Mode: 1.0
            - - - - - - -
 318 Unique values
 12 Unique value's length (in characters)
            - - - - - - -
 100.0 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 100.0 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
ASSORTMENT LISTING (float64)

 Max: 127.0 Min: 5.0
 Mean: 52.43 Median: 53.0 Std: 27.96
 Mode: 55.0
            - - - - - - -
 46 Unique values
 3 Unique value's length (in characters)
2    65.31
3    29.26
1     5.43
            - - - - - - -
 24.806 % of NaN values
 75.194 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 75.19 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
HM LISTING (float64)

 Max: 35.0 Min: 5.0
 Mean: 25.34 Median: 31.0 Std: 9.93
 Mode: 35.0
            - - - - - - -
 9 Unique values
35.0    34.72
16.0    19.95
31.0    19.17
29.0     6.22
9.0      5.96
13.0     5.70
15.0     5.44
5.0      2.59
11.0     0.26
 2 Unique value's length (in characters)
2    68.41
3    25.19
1     6.40
            - - - - - - -
 25.194 % of NaN values
 74.806 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 74.81 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
SM LISTING (float64)

 Max: 35.0 Min: 1.0
 Mean: 16.49 Median: 14.0 Std: 9.41
 Mode: 19.0
            - - - - - - -
 11 Unique values
 2 Unique value's length (in characters)
2    51.36
3    38.57
1    10.08
            - - - - - - -
 38.566 % of NaN values
 61.434 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 61.43 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
MR LISTING (float64)

 Max: 47.0 Min: 1.0
 Mean: 20.93 Median: 5.0 Std: 18.25
 Mode: 5.0
            - - - - - - -
 10 Unique values
 2 Unique value's length (in characters)
3    55.43
1    23.45
2    21.12
            - - - - - - -
 55.426 % of NaN values
 44.574 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 44.57 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
EX LISTING (float64)

 Max: 8.0 Min: 1.0
 Mean: 2.27 Median: 1.0 Std: 2.36
 Mode: 1.0
            - - - - - - -
 4 Unique values
1.0    71.79
8.0    11.54
3.0    10.26
5.0     6.41
 1 Unique value's length (in characters)
3    84.88
1    15.12
            - - - - - - -
 84.884 % of NaN values
 15.116 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 15.12 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

-------------------------------------
HD LISTING (float64)

 Max: 18.0 Min: 18.0
 Mean: 18.0 Median: 18.0 Std: 0.0
 Mode: 18.0
            - - - - - - -
 1 Unique values
18.0    100.0
 2 Unique value's length (in characters)
3    96.32
2     3.68
            - - - - - - -
 96.318 % of NaN values
 3.682 % of Non-NaN and Non-Zero values

 Contains Duplicates values!
            - - - - - - -
 Only values with letters: 0.0 %
 Only values with numbers: 3.68 %
 Only values with letters and numbers: 0.0 %
-------------------------------------

* [Return to the Table of Contents](#main-bullet)

***

<h1> <div style = "text-align: center"> <font color = "brown"> 4. Completing the Task </font> </div>  <a class="anchor" id="fourth-bullet"></a>

<h3> Working with column's names

In [9]:
df.columns = [x.replace("-", '') for x in df.columns]
df.columns = [" ".join(x.split()).replace(" ", '_') for x in df.columns]

To_Replicate.columns = [x.replace("-", '') for x in To_Replicate.columns]
To_Replicate.columns = [" ".join(x.split()).replace(" ", '_') for x in To_Replicate.columns]

<h3> Pre - Defining some functions

In [10]:
def Current_vend(x): 
    if x['Current_ext_vend'] == x['Current_int_vend'] or x['Current_int_vend'] == 0:
        return x['Current_ext_vend']
    else:
        return x['Current_int_vend']

In [11]:
df["Current_vend"] = df.apply(Current_vend, axis=1)

In [12]:
def EE(x):
    a = df.loc[x.index]
    return a.loc[a['Country_Key'] == 'EE', 'Current_vend'].unique()
def LV(x):
    a = df.loc[x.index]
    return a.loc[a['Country_Key'] == 'LV', 'Current_vend'].unique()
def LT(x):
    a = df.loc[x.index]
    return a.loc[a['Country_Key'] == 'LT', 'Current_vend'].unique()

In [13]:
df = df.query("PRIVATE_LABEL != PRIVATE_LABEL")

<h3> Making all the necessary calculations

In [14]:
df["Assortment_Listing"] = (df.fillna(0)["HM_Listing"] + 
                            df.fillna(0)["SM_Listing"] + 
                            df.fillna(0)["MR_Listing"] + df.fillna(0)["EX_Listing"])

In [15]:
Replicate = round((df.groupby(['Material_Key']).
                    agg({ 
                         'Material_Brand': lambda x:x.value_counts().index[0],
                         'Current_vend': [EE, LV, LT],
                         'Purchase_Price': 'max',
                         'Assortment_Listing': 'sum',
                         'Net_Sales/Retail': 'sum',
                         'Promotion_Net_Sales/Retail': 'sum',
                         'Monthly_AVG_sales': 'mean',
                    }).reset_index()),2)

Replicate.columns = ["Material_Key", "BRAND", 'VENDOR_EE', "VENDOR_LV", "VENDOR_LT", 
                     "BEST_Purchase_Price", "Assortment_listing", "SALES", "REGULAR_SALES", "MONTHS_on_SALE"]

In [16]:
Replicate["REGULAR_SALES"] = Replicate["SALES"] - Replicate["REGULAR_SALES"]
Replicate["MONTHS_on_SALE"] = round(Replicate["SALES"] / Replicate["MONTHS_on_SALE"],1)

In [17]:
brand = Replicate.groupby('BRAND')['SALES'].sum().to_dict()
Replicate['BRAND_sales_share'] = Replicate['BRAND'].map(brand)
Replicate["BRAND_sales_share"] = round((Replicate["SALES"] / Replicate["BRAND_sales_share"]) * 100,1)

In [18]:
Replicate[['VENDOR_EE', 'VENDOR_LT', 'VENDOR_LV']] = Replicate[['VENDOR_EE', 'VENDOR_LT', 
                                                                'VENDOR_LV']].astype(str)
Replicate = Replicate.replace('[]', "")

* [Return to the Table of Contents](#main-bullet)

***

<h1> <div style = "text-align: center"> <font color = "brown"> 5. Checking the Match and Exporting the CSV file </font> </div>  <a class="anchor" id="fifth-bullet"></a>

<h3> Aligning the format of some columns

In [19]:
To_Replicate = To_Replicate.replace(np.nan, "")
To_Replicate["BRAND_sales_share"] = round(To_Replicate["BRAND_sales_share"] * 100,1)

In [20]:
To_Replicate['Assortment_listing'] = To_Replicate['Assortment_listing'].astype(np.int64)
Replicate['Assortment_listing'] = Replicate['Assortment_listing'].astype(np.int64)

<h3> Checking the Match

In [21]:
from pandas.util.testing import assert_frame_equal
assert_frame_equal(To_Replicate, Replicate)

In [22]:
dsp(Replicate.iloc[:, :5].head(5))
dsp(To_Replicate.iloc[:, :5].head(5))

dsp(Replicate.iloc[:, 5:].head(5))
dsp(To_Replicate.iloc[:, 5:].head(5))

,Material_Key,BRAND,VENDOR_EE,VENDOR_LV,VENDOR_LT
0,100376,Kapo,Waterfront Strategies,Waterfront Strategies,Waterfront Strategies
1,100448,Off,Screen Strategies Media,,
2,100517,Cobra,Nebo Media,Nebo Media,Nebo Media
3,100569,Cobra,Buying Time LLC,Buying Time LLC,
4,100575,Kapo,Waterfront Strategies,Waterfront Strategies,Waterfront Strategies

,Material_Key,BRAND,VENDOR_EE,VENDOR_LV,VENDOR_LT
0,100376,Kapo,Waterfront Strategies,Waterfront Strategies,Waterfront Strategies
1,100448,Off,Screen Strategies Media,,
2,100517,Cobra,Nebo Media,Nebo Media,Nebo Media
3,100569,Cobra,Buying Time LLC,Buying Time LLC,
4,100575,Kapo,Waterfront Strategies,Waterfront Strategies,Waterfront Strategies

,BEST_Purchase_Price,Assortment_listing,SALES,REGULAR_SALES,MONTHS_on_SALE,BRAND_sales_share
0,2.31,250,34019.66,26623.86,12.0,75.8
1,1.96,35,3502.23,3133.18,12.0,5.2
2,4.97,0,4107.57,284.75,12.0,15.3
3,2.47,130,9663.46,5464.43,12.0,35.9
4,2.60,181,10826.79,8818.32,12.0,24.1

,BEST_Purchase_Price,Assortment_listing,SALES,REGULAR_SALES,MONTHS_on_SALE,BRAND_sales_share
0,2.31,250,34019.66,26623.86,12.0,75.8
1,1.96,35,3502.23,3133.18,12.0,5.2
2,4.97,0,4107.57,284.75,12.0,15.3
3,2.47,130,9663.46,5464.43,12.0,35.9
4,2.60,181,10826.79,8818.32,12.0,24.1

<h3> Export the file

In [23]:
from openpyxl import load_workbook

book = load_workbook(PATH + data_name + '.xlsx')
writer = pd.ExcelWriter(PATH + data_name + '.xlsx', engine = 'openpyxl')
writer.book = book

Replicate.to_excel(writer, sheet_name = 'Completed_via_Python')

writer.save()
writer.close()

* [Return to the Table of Contents](#main-bullet)